<div id='peteshow'>
  <div id="peteshow-drag-handle"></div>
  <div id="peteshow-toggle"></div>
  <div id='peteshow-tools'>
    <ul id='peteshow-commands'>
<li><a data-command='F' href='#' id='fill-out-forms'>Fill Out Forms</a></li>
<li><a data-command='Q' href='#' id='fill-out-forms-and-submit'>Fill Out and Submit</a></li>
{{!stored.html}}
<li><a data-command='H' href='#' id='peteshow-hide'>Hide</a></li>
    </ul>
  </div>
</div>
