<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Peteshow.js Tests</title>
    <link rel='stylesheet' href='stylesheets/peteshow.css'>
    <style>
      body { font-family: 'helvetica'; }
      form > div { display: inline-block; margin-bottom: 20px; }
      form input { display: block; padding: 8px 10px; }
      form input[type=submit] { padding: 10px 55px; margin-top: 20px }
      form label { display: block; padding: 3px 6px; }
    </style>
  </head>
  <body>
    <form class='simple_form' name='random' action='/two'>
      <input name='password' type='password' />
      <input name='text' type='text' />
      <input name='email' type='email' />
      <input name='number' type='number' >
      <input name='decimal' type='number' >
      <input name='date ' type='date' >
      <input name='phone' type='tel' />
      <input name='first_name' type='text' />
      <input name='middle_name' type='text' />
      <input name='custom_name' type='text' />
      <input name='last_name' type='text' />
      <input name='company' type='text' />
      <input name='street' type='text' />
      <input name='line1' type='text' />
      <input name='line2' type='text' />
      <input name='city' type='text' />
      <input name='suite' type='text' />
      <input name='zip' type='number' />
      <input name='county' type='text' />
      <input name='postal' type='text' />
      <input name='state' type='text' />
      <input name='job_title' type='text' />
      <input name='intent' type='text' />
      <input name='income' type='number' />
      <input name='amount' type='number' />
      <input name='routing' type='number' />
      <input name='branch' type='number' />
      <input name='card_type_cd' type='text' />
      <input name='card_number' type='number' />
      <input name='cvv' type='number' />
      <input name='saved' type='text' />
      <input name='saved_2' type='text' />
      <input name='ignore_me' type='text' />
      <input type='submit' value='submit' />
    </form>

    <script src='vendor/jquery.js'></script>
    <script src='vendor/faker.js'></script>
    <script src='vendor/jquery.formatDateTime.js'></script>
    <script src='vendor/jquery.cookie.js'></script>
    <script src='javascripts/peteshow.js'></script>
    <script>
      // little somethin' for the labels
      $(function() {
        $('form > input:not("[type=submit]")')
          .wrap('<div/>')
          .after(function() {
            return '<label for=' + this.name + '>' + this.name + '</label>'
        });
      });
    </script>
    <script>
      if ('<%= env %>' != 'test') {
        Peteshow.init({
          cookies: true,
          rules: {
            'input[name*=middle_name]': Peteshow.random.name(),
            'input[name*=custom_name]': 'Custom Name'
          },
          reuse: { 'input[name*=first_name]': '/tests' },
          ignore: ['input[name=last_name]', '#qunit-modulefilter'],
          resets: ['form[name=random]']
        });
      }
    </script>
  </body>
</html>
