<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Peteshow.js Tests two</title>
    <link rel='stylesheet' href='stylesheets/peteshow.css'>
    <style>
      body { font-family: 'helvetica'; }
      form > div { display: inline-block; margin-bottom: 20px; }
      form input { display: block; padding: 8px 10px; }
      form input[type=submit] { padding: 10px 55px; margin-top: 20px }
      form label { display: block; padding: 3px 6px; }
    </style>
  </head>
  <body>
    <form class='simple_form' name='random'>
      <input name='email' type='email' />
      <input name='number' type='number' >
      <input type='submit' value='submit' />
    </form>

    <script src='vendor/jquery.js'></script>
    <script src='vendor/faker.js'></script>
    <script src='vendor/jquery.formatDateTime.js'></script>
    <script src='vendor/jquery.cookie.js'></script>
    <script src='javascripts/peteshow.js'></script>
    <script>
      // little somethin' for the labels
      $(function() {
        $('form > input:not("[type=submit]")')
          .wrap('<div/>')
          .after(function() {
            return '<label for=' + this.name + '>' + this.name + '</label>'
        });
      });
    </script>
    <script>
      if ('<%= env %>' != 'test') {
        Peteshow.init({
          cookies: true,
          rules: {
            "input[name*=middle_name]": Peteshow.random.name(),
            "input[name*=custom_name]": 'Custom Name'
          },
          reuse: { 'input[name*=first_name]': '/tests' },
          resets: ['form[name=random]', 'form[name=foo]']
        });
      }
    </script>
  </body>
</html>
