<div class='peteshow'>
  <div class='peteshow-toggle'><i></i></div>
  <div class='peteshow-menu'>
    <div class='peteshow-sessions'></div>
    <ul>
      <li><a href='#' data-key='F' data-action='fill-out-forms'>Fill Out Forms</a></li>
      <li><a href='#' data-key='Q' data-action='fill-out-and-submit'>Fill Out and Submit</a></li>
      <li><a href='#' data-action='clear-sessions'>Clear Sessions</a></li>
      <li><a href='#' data-key='H' data-action='peteshow-hide'>Hide</a></li>
    </ul>
    <ul class='peteshow-commands'>{{{commands}}}</ul>
  </div>
</div>
