<label>
  <input type='radio' name='peteshow-session' data-session='last' />
  Last session
  {{#if lastSession}}
    <span>{{lastSessionName}}</span>
    <a href='#' class='peteshow-toggle-save' data-action='toggle-save'>
      <svg class='icon-save'><use xlink:href='#icon-save'></use></svg>
    </a>
  {{/if}}
</label>

