<div class='peteshow-dialog'>Save last session</div>
<div class='peteshow-title'>
  <span>Title</span>
  <input name='peteshow-title' type='text' value='Myra Steuber' />
  <div class='peteshow-info'>
    <a href='#'>Print to console</a>
    <a href='#'>Delete session</a>
  </div>
</div>
<div class='peteshow-notes'>
  <span>Notes</span>
  <textarea name='peteshow-notes' />
</div>
<div class='peteshow-actions'>
  <a href='#'>Cancel</a>
  <a href='#'>Save</a>
</div>
