.peteshow-menu {
  transition: all 1.0s ease;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-top: 1px dotted $border-color;
      display: block;
      margin: 0;

      a { 
        display: block;
        font-weight: bold;
        text-transform: capitalize;
        @extend %menu-link;
      }
    }
  }
}

.peteshow-wrapper {
  background: $inner-background-color;
  padding: 5px 0;

  label {
    @extend %menu-link;
    color: $menu-link-color;
    &:hover {
      background: none;
      color: $menu-link-hover-color;
    }
  }

  > span { 
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: $inner-font-color;
    display: block;
    padding: 5px 10px;
  }

  input[type=radio] {
    -webkit-appearance: none;
    margin: 0;
    margin-right: 5px;
    margin-top: -3px;
    width: $radio-size;
    height: $radio-size;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    background-position: 0 14px;
    @include radial($menu-link-color, $menu-link-color);
    @extend %input;
    @include radio-active($radio-size);
  }

  .peteshow-last-session {
    @include clearfix;

    .toggle-save {
      @extend %menu-action-icon;
      margin-top: -11px;

      .icon-save {
        fill: currentColor;
        width: 14px;
        height: 14px;
      }
    }

    span {
      float: left;
      text-transform: none;
      font-weight: normal;
      margin-left: 22px;
      padding: 5px 0;
      color: $inner-font-color;
      @extend %ellipsis;
      display: block;
    }
  }

  .peteshow-session-list {
    border-top: 1px dotted $border-color;
    padding-top: 6px;
    padding-bottom: 3px;
    margin-top: 4px;

    .print-console {
      @extend %menu-action-icon;
      @extend %icon-print;
      margin-top: -2px;
    }

    .delete-session {
      @extend %menu-action-icon;
      @extend %icon-delete;
    }

    label > span { 
      @extend %ellipsis;
    }
  }
}
