.peteshow-menu {
  transition: all 1.0s ease;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-top: 1px dotted $border-color;
      display: block;
      margin: 0;

      a { 
        display: block;
        font-weight: bold;
        text-transform: capitalize;
        @extend %menu-link;
      }
    }
  }
}

.peteshow-sessions-wrapper {
  background: $inner-background-color;
  padding: 5px 0;

  label {
    @extend %menu-link;
    color: $menu-link-color;
    &:hover {
      background: none;
      color: $menu-link-hover-color;
    }
  }

  span { 
    @extend %menu-header; 
    padding: 5px 10px;
  }

  input[type=radio] {
    -webkit-appearance: none;
    margin: 0;
    margin-right: 5px;
    margin-top: -3px;
    width: $radio-size;
    height: $radio-size;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    background-position: 0 14px;
    @include radial($menu-link-color, $menu-link-color);
    @extend %input;

    @include radio-active($radio-size);
  }

  .peteshow-last-session {
    @include clearfix;
    padding-bottom: 5px;

    span {
      padding-left: 0;
      float: left;
      display: block;
      text-transform: none;
      font-weight: normal;
      margin-left: 22px;
    }

    .toggle-save {
      @extend %menu-action-icon;

      .icon-save {
        color: rgba(255,255,255,0.2);
        fill: currentColor;
        width: 14px;
        height: 14px;

        &:hover { color: rgba(255,255,255,0.5); }
      }
    }
  }

  .peteshow-session-list {
    border-top: 1px dotted $border-color;
    padding-top: 5px;

    .delete-session {
      @extend %menu-action-icon;
      color: rgba(255,0,0,0.5);
      padding: 5px;
      margin-right: -5px;
      margin-top: -5px;

      &:before { content:"\2716"; }
      &:hover { color: rgba(255,0,0,0.9); }
    }
  }
}
