@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin links {
  a,
  a:active,
  a:link,
  a:hover,
  a:visited {
    @content;
  }
}

@mixin radial($inner-color: #555, $outer-color: #333) {
  background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
  background-image: radial-gradient(circle, $inner-color, $outer-color);
  background-repeat: no-repeat;
}

@mixin radio-active($size: 14px) {
  &:active { background-position: 0 $size; }

  &:checked {
    background-position: 0 0;

    ~ input {
      background-position: 0 -$size;
      &:active { background-position: 0 -$size; }
    }
  }
}

%input {
  box-shadow: hsla(0, 0%, 100%, 0.15) 0 1px 1px, inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
  background-color: hsla(100, 100%, 100%, 0.1);
  background-repeat: no-repeat;
  outline: none;
  font-size: 12px;
}

%font-smoothing {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

%clear-text-decoration {
  text-decoration: none;
  text-shadow: none;
}

%menu-link {
  display: block;
  height: 1%;
  padding: 5px 10px;
  color: $menu-link-color;

  &:hover {
    color: $menu-link-hover-color;
    background-color: rgba(0,0,0,0.1);
  }
  &:active { height: 1%; }
}

%menu-action-icon {
  float: right;
  display: block;
  font-size: 16px;

  &:active { position: relative; top: 1px; }
}

%ellipsis {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: relative;
  top: 3px;
}
