.peteshow {
  background-color: $primary-background-color;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: normal;
  left: 0;
  padding: 0;
  position: fixed;
  text-align: left;
  top: 0;
  transition: width 0.2s ease;
  width: $collapsed-width;
  z-index: 9001;
  @extend %font-smoothing;
  @extend %clear-text-decoration;

  a {
    color: $menu-link-color;
    @extend %clear-text-decoration;
    &:visited { color: $menu-link-color; }
    &:hover { color: $menu-link-hover-color; }
  }

  &.open {
    width: $open-width;

    .peteshow-toggle {
      i {
        border-left: 0;
        border-right-color: $arrow-color;
        border-right-style: solid;
        border-right-width: 6px;
        right: 10px;
      }

      &:before { content: 'PETESHOW'; }
    }
  }

  .peteshow-toggle {
    @extend %clear-text-decoration;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 8px 10px;
    position: relative;
    cursor: pointer;

    &:before { content: 'PS'; }

    i {
      border-color: transparent;
      border-left: 6px solid $arrow-color;
      border-style: solid;
      border-width: 5px;
      display: -moz-inline-box;
      display: inline-block;
      font-size: 10px;
      height: 0;
      line-height: 0;
      margin: 0px;
      position: absolute;
      right: 3px;
      top: 10px;
      vertical-align: middle;
      width: 0;
    }
  }
}
