.peteshow-save-session {
  position: absolute;
  right: -($open-width + 101);
  top: 96px;
  width: 300px;
  display: none;

  .peteshow-dialog {
    @extend %menu-header;
    background: rgba(0,0,0,0.85);
    padding: 8px 15px;
    color: #fff;
  }

  .peteshow-title,
  .peteshow-notes {
    background: rgba(0,0,0,0.895);
    padding: 5px 15px;
  }
  
  span {
    @extend %menu-header;
    font-weight: normal;
    text-transform: none;
    padding: 5px 0;
  }

  input, textarea {
    @extend %input;
    border: none;
    padding: 5px;
    color: #999;
    width: $save-width - 40px;
    border-radius: 4px;
  }

  textarea {
    resize: vertical;
    margin-bottom: 10px;
  }

  input {
    width: $save-width - 150px
  }

  .peteshow-actions {
    @include clearfix;
    border-top: 1px solid $border-color;
    background: rgba(0,0,0,0.85);

    a {
      width: 50%;
      display: block;
      font-size: 12px;
      float: left;
      color: $menu-link-color;
      padding: 8px 0;
      text-align: center;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      font-weight: bold;

      &:first-child { border-right: 1px solid $border-color; }

      &:hover {
        background: rgba(0,0,0,0.1);
        color: $menu-link-hover-color;
      }
    }
  }

  .peteshow-info {
    display: block;
    float: right;
    font-size: 12px;
    margin-top: 0px;

    a {
      display: block;
      text-align: right;
      margin-bottom: 4px;
      font-style: normal;
      i { font-style: normal; }
    }

    [data-action=print-console] i { @extend %icon-print; }
    [data-action=delete-session] i { @extend %icon-delete; }
  }
}

