$primary-background-color: #090909;
$inner-background-color: #111;

$border-color: rgba(255,255,255,0.1);
$arrow-color: #fff;

$font-color: #ffffff;
$inner-font-color: rgba(255,255,255,0.3);
$font-family: 'Helvetica', 'Tahoma';
$font-size: 13px;

$menu-link-color: #999;
$menu-link-hover-color: #ccc;

$radio-size: 14px;

$collapsed-width: 60px;
$open-width: 200px;
$save-width: 300px;

$breakpoint-max-width: 560px;
