$primary-background-color: rgba(0,0,0, 0.85);
$inner-background-color: rgba(0, 0, 0, 0.3);

$border-color: rgba(255,255,255,0.1);
$arrow-color: #fff;

$font-color: #ffffff;
$font-family: 'Helvetica', 'Tahoma';
$font-size: 13px;

$menu-link-color: #999;
$menu-link-hover-color: #ccc;

$radio-size: 14px;

$collapsed-width: 60px;
$open-width: 200px;
$save-width: 300px;

$breakpoint-max-width: 560px;
