$primary-background-color: rgba(0,0,0, 0.85);
$inner-background-color: rgba(0, 0, 0, 0.3);

$font-color: #ffffff;
$font-family: 'Helvetica', 'Tahoma';
$font-size: 13px;

$collapsed-width: 60px;
$open-width: 200px;

$breakpoint-max-width: 560px;

%clear-text-decoration {
  text-decoration: none;
  text-shadow: none;
}

%menu-link {
  color: #999;
  display: block;
  height: 1%;
  padding: 7px 10px;

  &:visited {
    color: #999;
  }

  &:hover {
    background-color: rgba(0,0,0,0.1);
    color: #ccc;
  }

  &:active { height: 1%; }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin links {
  a,
  a:active,
  a:link,
  a:hover,
  a:visited {
    @content;
  }
}

@mixin radial($inner-color: #555, $outer-color: #333) {
  background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
  background-image: radial-gradient(circle, $inner-color, $outer-color);
  background-repeat: no-repeat;
}

#peteshow {
  @extend %clear-text-decoration;
  background-color: $primary-background-color;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: normal;
  left: 0;
  padding: 0;
  position: fixed;
  text-align: left;
  top: 0;
  transition: width 0.2s ease;
  width: $collapsed-width;
  z-index: 9001;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @include links { @extend %clear-text-decoration; }

  .icon-save {
    display: inline-block;
    color: rgba(255,255,255,0.2);
    fill: currentColor;
    width: 14px;
    height: 14px;
    cursor: pointer;

    &:hover { color: rgba(255,255,255,0.5); }
  }

  #peteshow-toggle {
    @extend %clear-text-decoration;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 8px 10px;
    position: relative;
    cursor: pointer;

    i {
      border-color: transparent;
      border-left: 6px solid #fff;
      border-style: dashed;
      border-width: 5px;
      display: -moz-inline-box;
      display: inline-block;
      font-size: 10px;
      height: 0;
      line-height: 0;
      margin: 0px;
      position: absolute;
      right: 3px;
      top: 8px;
      vertical-align: middle;
      width: 0;
    }

    &:before { content: 'PS'; }
  }

  &.open {
    width: $open-width;

    #peteshow-toggle {
      i {
        border-left: 0;
        border-right-color: #fff;
        border-right-style: solid;
        border-right-width: 6px;
        right: 10px;
      }

      &:before { content: 'PETESHOW'; }
    }
  }

  #peteshow-menu {
    display: none;
    color: #fff;
    transition: all 1.0s ease;

    a { 
      color: #999;
      display: block;
      font-weight: bold;
      text-transform: capitalize;
      @extend %menu-link;
    }


    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-top: 1px dotted #666;
        display: block;
        margin: 0;
      }
    }
  }

  #peteshow-sessions {
    background: $inner-background-color;
    padding: 5px 0;

    label {
      @extend %menu-link;
      padding: 5px 10px;

      &:hover { background: none; }
    }

    span {
      padding: 5px 10px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      color: rgba(255,255,255,0.3);
      display: block;
    }

    input {
      -webkit-appearance: none; 
      margin: 0;
      margin-right: 5px;
      margin-top: -3px;
      width: 14px;
      height: 14px;
      border-radius: 12px;
      cursor: pointer;
      vertical-align: middle;
      box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
      background-color: hsla(100,100%,100%,.2);
      @include radial(#999, #999);
      background-repeat: no-repeat;
      outline: none;
    }

    input, input:active { background-position: 0 14px; }
    input:checked { background-position: 0 0; }
    input:checked ~ input,
    input:checked ~ input:active {
      background-position: 0 -14px;
    }

    .peteshow-last-session {
      @include clearfix;
      padding: 5px 0;

      span {
        padding-left: 0;
        float: left;
        display: block;
        font-style: italic;
        text-transform: none;
        font-weight: normal;
        margin-left: 20px;
      }

      .icon {
        float: right;
        margin-top: 2px;
      }
    }

    .peteshow-stored-sessions {
      border-top: 1px dotted rgba(255,255,255,0.2);
      margin-top: 5px;
      padding-top: 5px;
    } 
  }
}

@media (max-width: $breakpoint-max-width) {
  #peteshow {
    position: absolute;
    top: 0;
    left: 0 !important;
    right: 0 !important;
    width: 100%;

    &.open { width: 100%; }
  }
}
